.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.moreFilters {
    color: rgb(33, 41, 52) !important;
    font-size: 14px !important;
    text-transform: none !important;
    font-weight: 400 !important;
}

.moreFiltersContainer{
    margin-top: 0px !important;
}

@media screen and (max-width: 885px) and (min-width: 715px) {

    .container {
        width: 100% !important;
        /* display: flex; */
        /* flex-wrap: nowrap !important; */
        overflow: auto;
        margin: 5px !important;
    }

    .container button {
        font-size: 12px !important;
        padding: 5px 8px !important;
    }
}


@media screen and (max-width: 715px) and (min-width: 618px) {
    .container button {
        font-size: 12px !important;
        padding: 5px 8px !important;
    }
}

@media screen and (max-width: 617px) {
    .container button {   
        font-size: 11px !important;
        padding: 5px 7px !important;
    }
}

