:root {
    --primary-color: #F9F9FA;
    --secondary-colort: #FFFF;
}

/* FONT COLOR */
:root {
    --font-primary-color: #212121;
    --font-secondary-color: #555;
    --font-third-color: #1E6194;
}