div.jsx-1673646934 {
    box-shadow: none !important;
    background-color: transparent !important;
    margin-top: .7px;
    max-width: 100vw !important;
}

ul li .jsx-2002348738:hover {
    color: inherit !important;
    text-decoration: none !important;
}

body {
    margin: 0;
    padding: 0;
}