.subTitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16.5px;
    line-height: 22px;
    color: var(--dark-label-color-secondary);
    margin-bottom: 0px !important;
}

.title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0.15px;
    color: var(--dark-label-color);
    flex: none;
    order: 0;
    flex-grow: 0;
}

@media screen and (max-width: 650px) and (min-width: 500px) {
    .subTitle {
        font-size: 15.5px !important;
        line-height: 20px;
    }

    .title {
        font-size: 18px !important;
        line-height: 100%;
    }
}

@media screen and (max-width: 500px) {
    .subTitle {
        font-size: 14.5px !important;
        line-height: 20px;
    }

    .title {
        font-size: 17px !important;
        line-height: 100%;
    }
}