.textTitlle {
    color: var(--dark-label-color);
    padding: 16px 8px 16px 12px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.16667em;
}

.labelName {
    color: var(--dark-label-color);
}

.content {
    color: var(--error-message-color);
    font-size: 12px !important;
    line-height: 14px;
}

.fieldNormal {
    padding: 8px 0px 8px 0px;
    background-color: #fff;
    height: auto;
}

.fieldError {
    padding: 8px 8px 8px 12px;
    background-color: #FBEAE5;
    height: 100px;
}

.fieldWarning {
    padding: 8px 8px 8px 12px;
    background-color: rgb(255, 248, 225);
    height: 100px;
}

.fieldWarning .content {
    color: #ff9900;
}

@media screen and (max-width: 352px) {
    .label {
        font-size: 13px !important;
    }
}