.containerInit {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 200px);
    width: 100%;
}

.paperInit {
    padding: 35px;
    width: 50%;
    background-color: #E8EDF2;
}

.paperInit ul li {
    padding: 6px;
}

.paperInit h2 {
    color: var(--colors-grey800);
    font-size: 21px;
    font-weight: 500;
    line-height: 22px;
    margin-top: 0;
}

.paperInit span {
    color: var(--colors-grey800);
    margin-left: 10px;
    font-size: 18px;
}

.paperOtherText {
    font-size: 16px;
    letter-spacing: .1px;
    line-height: 18px;
    margin-bottom: var(--spacers-dp12);
}

@media screen and (max-width: 921px) and (min-width: 532px) {
    .containerInit {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 200px);
        width: 100%;
    }

    .paperInit {
        width: 80%;
        padding: 35px;
        background-color: #E8EDF2;
    }
}

@media screen and (max-width: 532px) {
    .containerInit {
        display: block;
        height: auto;
        width: 100% !important;
    }

    .paperInit {
        width: 100%;
        padding: 35px;
        background-color: #E8EDF2;
    }

    .paperInit ul li {
        padding: 6px;
    }

    .paperInit h2 {
        font-size: 17px;
    }

    .paperInit span {
        font-size: 15px;
    }

    .paperOtherText {
        font-size: 14px;
    }
}