.containerInit {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 200px);
    width: 100%;
}

.paperInit {
    padding: 35px;
    width: 50%;
    background-color: #E8EDF2;
}

.paperInit ul li {
    padding: 6px;
}

.paperInit h2 {
    color: var(--colors-grey800);
    font-size: 21px;
    font-weight: 500;
    line-height: 22px;
    margin-top: 0;
}

.paperInit span {
    color: var(--colors-grey800);
    margin-left: 10px;
    font-size: 18px;
}

.paperOtherText {
    font-size: 16px;
    letter-spacing: .1px;
    line-height: 18px;
    margin-bottom: var(--spacers-dp12);
}