.simpleButton {
    border: solid 1px #A0ADBA;
    background-color: #D8EED2;
    width: 137px;
    height: 35px;
    border-radius: 4px;
    padding: 10px 12px 10px 12px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.active-button {
    border: solid 1px #A0ADBA;
    background-color: #F3D3B4;
    width: 137px;
    height: 35px;
    border-radius: 4px;
    padding: 10px 12px 10px 12px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.simpleButtonLabel {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.5px;
    text-align: center;

}

.simpleDropdownButton {
    color: rgb(33, 41, 52) !important;
    font-size: 14px !important;
    text-transform: none !important;
    font-weight: 400 !important;
    width: 127px !important;
}

.dropdownIcon{
    color: rgb(33, 41, 52, 0.7) !important;
    font-weight: 400 !important;
    margin-left: 20px;
}

.activeMenuItem{
    background-color: #F0F0F0 !important;
}