@import "../../../assets/style/colors.css";
@import "../../../assets/style/font.css";

.SideBarContainer {
    border-right: 1px solid #e6e4e4;
    height: 100%;
    width: 370px !important;
    position: relative;
    background-color: var(--secondary-colort);
    transition: width 0.3s ease !important;
}

.SideBarContainerCollapsed {
    border-right: 1px solid #e6e4e4;
    height: 100%;
    max-width: 90px;
    position: relative;
    background-color: var(--secondary-colort);
    transition: width 0.3s ease !important;
}

.SideBarContainer::-webkit-scrollbar {
    width: 4px;
}

.SideBarContainer::-webkit-scrollbar-thumb {
    background-color: rgb(133, 133, 133);
    border-radius: 20px;
}

.SideBarContainerCollapsed::-webkit-scrollbar-thumb {
    background-color: rgb(133, 133, 133);
    border-radius: 20px;
}

.SideBarContainerCollapsed::-webkit-scrollbar {
    width: 4px;
}

.SideBarMenu {
    height: 100%;
    padding: 20px 15px;
    flex: inherit;
    overflow-y: auto;
    overflow-x: hidden;
}


.SideBarContainerCollapsed .SideBarMenu .SideBarSubItemLabel {
    display: none;
    white-space: nowrap;
}

.SideBarContainerCollapsed .SideBarMenu .BadgeContainer {
    display: none;
    white-space: nowrap;
}

.SideBarContainerCollapsed .SideBarMenu .SideBarItemTitle {
    display: inline-block !important;
    opacity: 0;
    white-space: nowrap !important;
}

.SideBarContainerCollapsed .SideBarSubItemContainer {
    justify-content: center;
    min-width: 40px;
    height: 56px !important;
}

.SideBarContainerCollapsed .SideBarSubItemContainer img {
    margin-right: 0px;
    min-width: 22px !important;
}

.TooltipContainer {
    background-color: rgba(0, 0, 0, 0.789);
    padding: 15px 10px;
    color: #FFF;
    position: fixed;
    display: none;
    border-radius: 4px;
    left: 100px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    z-index: 2;
}

.SideBarContainer .SideBarMenu span {
    display: block;
    white-space: nowrap;
}

.SideBarItemContainer {
    width: 100%;
    height: auto;
    margin-bottom: 24px;
}

.SideBarItemTitle {
    color: var(--font-third-color);
    font-family: var(--primary-font-family);
    font-size: var(--sidebar-font-size);
    font-weight: 500;
    line-height: var(--sidebar-font-line-height);
}

.SideBarSubItemContainer {
    margin-bottom: 3px;
    list-style: none;
    color: var(--font-secondary-color);
    font-weight: 400;
    line-height: var(--sidebar-font-line-height);
    font-style: normal;
    font-size: var(--sidebar-font-size);
    padding: 16px;
    display: flex;
    position: relative;
    align-items: center;
    height: 56px !important;
    cursor: default;
}

.SideBarContainerCollapsed .SideBarSubItemContainer:hover .TooltipContainer {
    display: block;
}

.SideBarContainerCollapsed .SideBarSubItemContainerActive:hover .TooltipContainer {
    display: block;
}

.SideBarSubItemContainerActive {
    margin-bottom: 3px;
    list-style: none;
    color: var(--font-secondary-color);
    font-weight: 400;
    line-height: var(--sidebar-font-line-height);
    font-style: normal;
    font-size: var(--sidebar-font-size);
    padding: 16px;
    display: flex;
    position: relative;
    align-items: center;
    cursor: default;
    background-color: rgba(0, 0, 0, 0.138);
    border-radius: 5px !important;
    color: black !important;
    cursor: pointer;
}

.SideBarSubItemContainer:hover {
    background-color: rgba(0, 0, 0, 0.138);
    border-radius: 5px !important;
    cursor: pointer;
}

.SideBarDisabledSubItem {
    color: #989898 !important;
}

.SideBarDisabledSubItem img {
    opacity: 0.4;
}

.subItemLink {
    text-decoration: none !important;
}

.SideBarDisabledSubItem:hover {
    cursor: not-allowed;
    background-color: transparent !important;
}

.SideBarSubItemContainer img {
    margin-right: 16px;
    min-width: 22px !important;
}

.SideBarSubItemContainerActive img {
    margin-right: 16px;
    min-width: 22px !important;
}


.BadgeContainer {
    margin-left: auto;
}

.SideBarItemListContainer {
    overflow-x: hidden;
    padding-left: 0 !important;
}


@media screen and (max-width: 768px) {
    .SideBarContainer {
        flex: 0 0 100%;
    }
}

.ExpandCollapseSideBar {
    position: absolute;
    top: 52px;
    z-index: 1;
    right: -25px;
    cursor: pointer;
}

.ExpandCollapseSideBar .IconContainer {
    position: relative;
}

.ExpandCollapseSideBar .ArrowIConLeft {
    position: absolute;
    left: 5px;
    top: 22px;
}

.ExpandCollapseSideBar .ArrowIConRight {
    position: absolute;
    left: 5px;
    top: 22px;
    transform: rotate(180deg);
}