.cardContainer {
    background: #FFFFFF;
    box-shadow: 0px 0px 0px 1px #E0E0E0 !important;
    border-radius: 4px !important;
}

.carBox {

    border-radius: 4px !important;
}

.cardHeader {
    width: 100%;
    height: 100px;
    background-color: #FFF;
    display: flex;
    border-radius: 4px !important;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.section {
    margin: 0px 20px;
    gap: 10px;
    left: 52px;
    flex-wrap: wrap !important;
}

.cardHeader img {
    width: 72px;
    height: 72px;
}

.cardTitle {
    width: 100%;
    height: 42px;
    display: flex;
    line-height: 160% !important;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.80);
    text-align: center;
    font-weight: 450;
    font-size: 1rem;
    font-family: 'Roboto';
}

.cardStatistics {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.cardActions {
    height: 50px !important;
    display: flex;
    padding: 0 7px;
    justify-content: flex-end;
    align-items: center;
}

.cardTotalLabel {
    font-size: 18px;
}

.cardStatisticsTotalValue {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 5px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.8);
}

.cardInfoIcon {
    color: #56A44F !important;
}

.cardStatisticsTotal {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ========== Summary Cards styles ============== */
.success {
    border: solid 1px #4CAF50;
    background-color: #F4FBF4;
    width: 120px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border-radius: 3px;
}

.error {
    border: solid 1px #DEA9A7;
    background-color: #FFECE7;
    width: 120px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border-radius: 3px;
}

.secondary {
    border: solid 1px #D5DDE5;
    background-color: #FBFCFD;
    width: 120px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border-radius: 3px;
}

.success h5,
.error h5,
.secondary h5
{
text-align: center;
}