/* ========== Summary Cards styles ============== */
.success {
    border: solid 1px var(--summary-card-border-success);
    background-color: var(--summary-card-success-background);
    width: 120px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border-radius: 3px;
}

.error {
    border: solid 1px var(--summary-card-border-erro);
    background-color: var(--summary-card-error-background);
    width: 120px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border-radius: 3px;
}

.secondary {
    border: solid 1px var(--summary-card-background-secondary);
    background-color: var(--summary-card-secondary-background);
    width: 120px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border-radius: 3px;
}

.success h5,
.error h5,
.secondary h5
{
text-align: center;
}