.modalContainer {
    min-width: 1000px !important;
}

.detailsCard {
    min-width: 128px;
    min-height: 45px;
    padding: 6px 15px;
    gap: 0px;
    opacity: 0px;
    border: 1px solid #E8EDF2;
}

.detailsCardVariable {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 15.23px;
    text-align: left;
    color: #404B5A;
}

.detailsCardLabel {
    font-family: Roboto;
    font-size: 21px;
    font-weight: 400;
    line-height: 23.44px;
    text-align: left;
    color: #404B5A;
}
.closeModalButton button{
    top: 0;
    right: 0;
    position: absolute;
    border: 8px !important;
    background-color: transparent;
}

.closeModalButton button:hover {
    background-color:  rgba(0, 0, 0, 0.04);
}

.item>span {
    width: 35px;
    display: flex;
    justify-content: center;
}

.textCapDetails {
    text-transform: capitalize;
}

.redIcon,
.redIcon svg {
    color: #f44336 !important;
}

.greenIcon,
.greenIcon svg {
    color: #009688 !important;
}

.accordionHeaderContainer {
    display: flex;
    justify-content: space-between;
    align-items: center !important;
    padding: 5px 10px 3px 10px;
}

.accordionHeader {
    /* color: rgba(0, 0, 0, 0.87); */
    color: #404B5A;
    font-size: 14px;
    font-weight: 500;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    margin: 0px !important;
}

.resultsHeaderContainer{
    /* background-color: #E8F5E9; */
    background-color: rgb(240, 242, 244, 0.7);
    border: 1px solid #ECEFF1 !important;
    border-bottom: none !important;
    padding: 10px 10px;
}

.resultsHeaderContainer label{
    color: #404B5A !important;
    /* color: #0A683A !important; */
}