.modalContainer {
    padding: 0 !important;
    min-width: 1000px !important;
}

.detailsCard {
    min-width: 128px;
    min-height: 45px;
    padding: 6px 15px;
    gap: 0px;
    opacity: 0px;
    border: 1px solid #E8EDF2;
}

.detailsCardVariable {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 15.23px;
    text-align: left;
    color: #404B5A;
}

.detailsCardLabel {
    font-family: Roboto;
    font-size: 21px;
    font-weight: 400;
    line-height: 23.44px;
    text-align: left;
    color: #404B5A;
}

.closeModalButton button {
    top: 0;
    right: 0;
    position: absolute;
    border: 8px !important;
    background-color: transparent;
}

.closeModalButton button:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.listItem {
    padding: 6px 16px !important;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.10);
}

.listItem span:first-child {
    font-size: 14px !important;
}

.textCapDetails {
    text-transform: capitalize;
}

@media screen and (max-width: 650px) {
    .listItem {
        padding: 3px 16px !important;
        border-bottom: 0.5px solid rgba(0, 0, 0, 0.10);
    }
    
}

.noValuesColor,
.noValuesColor svg {
    color: #6C7787 !important;
}

.hasValuesColor,
.hasValuesColor svg {
    color: #0d47a1 !important;
}

.noValuesColor:first-child,
.hasValuesColor:first-child {
    text-align: center;
    height: 24px !important;
    width: 24px !important;
}

.redText {
    color: #d64d4d;
}

.noticeBoxTitle {
    padding: 0 !important;
    margin: 0 !important;
}

@media screen and (max-width: 650px) {
    .noticeBox {
        padding: 5px !important;
    }

    .noticeBox,
    .noticeBox h6,
    .noticeBox p,
    .noticeBox div {
        font-size: 13px !important;
        line-height: 15px !important;
    }

    .listItem {
        width: 100% !important;
        overflow: hidden;
    }

    .listItem span{
        width: 80px !important;
        /* background-color: red; */
    }
}

@media screen and (max-width: 435px) {
    .noticeBox {
       display: grid !important;
       grid-template-columns: auto auto;
    }
}

.leftCell {
    width: 90px !important;
}

.detailsTableGroup {
    width: 100%;
    margin: 0 0 15px 0;
}

.detailsTableGroup td,
.detailsTableGroup th {
    height: 25px !important;
}


.valuesFlex {
    display: flex;
    width: 100px;
    align-items: center;
    column-gap: 15px !important;

}

.iconLabel {
    font-size: 12px;
    font-style: italic;
}

.accordionHeaderContainer {
    display: flex;
    justify-content: space-between;
    align-items: center !important;
    padding: 5px 10px 3px 10px;
}

.accordionHeader {
    /* color: rgba(0, 0, 0, 0.87); */
    color: #404B5A;
    font-size: 14px;
    font-weight: 500;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    margin: 0px !important;
}

.resultsHeaderContainer {
    /* background-color: #E8F5E9; */
    background-color: rgb(240, 242, 244, 0.7);
    border: 1px solid #ECEFF1 !important;
    border-bottom: none !important;
    padding: 10px 10px;
}

.resultsHeaderContainer label {
    color: #404B5A !important;
    /* color: #0A683A !important; */
}

.success {
    background-color: #388e3c !important;
}


@media screen and (max-width: 620px) and (min-width: 352px) {
    .modalContainer h1 {
        font-size: 18px !important;
    }
}

@media screen and (max-width: 620px) and (min-width: 436px) {
    .modalButtons {
        font-size: 12px !important;
        padding: 5px 8px !important;
    }
}

@media screen and (max-width: 435px) {
    .modalButtonsStrip {
        flex-direction: column !important;
        display: flex !important;
        justify-content: start !important;
        align-self:flex-start !important;
    }

    .modalButtonsStrip>div {
        margin-left: 0 !important;
        justify-content: start !important;
    }

    .modalButtons {
        margin: 5px !important;
        width: 200px !important;
        font-size: 12px !important;
        height: 32px !important;
        padding: 5px 8px !important;
    }

    .modalContainer {
        min-width: 95vw !important;
    }
    .modalContainer > div:first-child:nth-child(1) > div:first-child {
        min-width: 100% !important;
        padding: 4vw !important;
    }
}


@media screen and (max-width: 352px) {
    .modalContainer h1 {
        font-size: 16px !important;
    }

    .modalLabel {
        font-size: 12px !important;
    }
}

.modalSearchActions {
    width: 100% !important;
    display: flex !important;
    /* align-items: center !important; */
    justify-content: space-between !important;
}

@media screen and (max-width: 550px) {
    .modalSearchActions {
        row-gap: 8px;
        flex-direction: column;
    }

    .modalSearchActions small {
        font-size: 11px;
    }
}

.jsx-3079864901, .jsx-1613565548 .jsx-2887186510 {
    padding: 0px !important;
    background-color: red !important;
}

.remove {
    display: none !important;
}

.loadingContainer {
    height: 65vh;
}

.linearProgress {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 95% 5%;
}

.percentagem {
    margin-left: 10px;
    margin-top: -11px;
}

.loadingContainer h1 {
    font-size: 20px;
}

.studentSeek {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading {
    margin-left: 60px;
    /* margin-top: -70px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading span {
    font-weight: 500;
    letter-spacing: 2px;
}