.rowActionsContainer {
  display: flex;
}

.rowActionsIcon svg , .rowSearchActionsIcon svg{
  width: 20px !important;
  height: 20px !important;
}


.rowSearchActionsIcon.icon0 {
  color: #0F9D58 !important
}

.rowSearchActionsIcon.icon1 {
  color: #28AFEA !important
}