.SimpleSearchContainer {
    background: rgb(255, 255, 255);
    box-shadow: rgba(33, 41, 52, 0.06) 0px 1px 2px, rgba(33, 41, 52, 0.1) 0px 1px 3px !important;
    min-width: 395px;
    min-height: 400px;
    max-height: 80vh;
    border: 1px solid #C4C4C4;
    box-shadow: 0px 0px 2px 0px #C4C4C4 inset;
    border-radius: 4px;
}

.SimpleSearcInputContainer {
    height: 42px;
    width: 100%;
    padding: 10px 8px;
    margin-bottom: 2px;
}

.ChildrenContentContainer {
    padding: 10px 8px;
    width: 100%;
    min-height: 357px;
    max-height: calc(80vh - 50px);
    overflow-y: auto;
}

.j2e9b216 {
    min-height: auto !important;
    border: 2px solid var(--blue-blue-200, #C5E3FC) !important;
    background: var(--blue-blue-050, #F5FBFF) !important;
    min-width: 306px !important;
}

.j2e9b216 li {
    background-color: transparent !important;
    font-family: Roboto;
    font-size: 24px;
}

.j2e9b216 li span {
    text-align: end;
    color: #2C73D6;
}

.j2e9b216 .ChildrenContentContainer {
    min-height: auto;
}

.j2e9b216 .SimpleSearcInputContainer {
    display: none;
}