.container {
    width: auto !important;
    overflow: auto !important;
}

@media screen and (max-width: 885px) and (min-width: 715px) {
    .work_buttons button {
        font-size: 12px !important;
        padding: 5px 8px;
    }

    .work_buttons svg {
        height: 20px !important;
    }
}

@media screen and (max-width: 715px) and (min-width: 618px) {
    .work_buttons button {
        font-size: 12px !important;
        padding: 5px 8px;
    }

    .work_buttons svg {
        height: 18px !important;
    }
}

@media screen and (max-width: 617px) {
    .work_buttons button span:nth-child(1) {
        margin: 0 !important;
        padding: 0 !important;
    }

    .work_buttons svg {
        height: 22px !important;
    }

    .work_buttons_text {
        display: none !important;
    }
}